data/
.venv/
# results/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Common system files
.DS_Store
Thumbs.db

# local cache
cache/

# temp files
test.py
predict_single_image.py

# results
results/